<div class="list-group">
  <a class="list-group-item clearfix" ng-repeat="matchup in $ctrl.matchups" ng-click="$ctrl.changeMatchup(matchup.home.id)">
    <span class="pull-left">
      <h4 class="list-group-item-heading">{{ matchup.home.name }} ({{ matchup.home.manager[0].nickname }})</h4>
      <p class="list-group-item-text">VS {{ matchup.away.name }} ({{ matchup.away.manager[0].nickname }})</p>
    </span>
    <span class="pull-right">
      <h4 class="list-group-item-heading text-right">{{ matchup.home.score }}</h4>
      <p class="list-group-item-text text-right">{{ matchup.away.score }}</p>
    </span>
  </a>
</div>